[submodule "vim"]
	path = vim
	url = git@github.com:obreitwi/dot_vim.git
	branch = master
[submodule "zsh"]
	path = zsh
	url = git@github.com:obreitwi/dot_zsh.git
	branch = master
[submodule "f29e1edc1577e89104c2d70b22c3eddd117224c7 zsh (heads/master)"]
	branch = master
[submodule "f89ee6adeec6d12ae0abb1aa803b0b1a0f418e02 vim (heads/master)"]
	branch = master
